@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aim-main{
    width: 100%;
    margin: 30px 0;
}

.aim-main-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aim-main-box{
    width: 30%;
    text-align: center;
    background: #121227;
    box-shadow: 0 0 5px 2px #FFCA00;
    padding: 20px 10px;
    transition: .2s;
    text-decoration: none;
    color: #fff;
}

.aim-main-box:hover{
    box-shadow: 0 0 10px 3px #FFCA00;
    transform: translateY(-2px);
    cursor: pointer;
}

.aim-main-icon{
    font-size: 50px;
    color: #FFCA00;
}

@media screen and (max-width: 768px) {
    .aim-main-container{
        flex-direction: column;
        padding: 0 20px;
    }
    .aim-main-box{
        width: 100%;
        margin: 30px;
    }
}