@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121227;
    border-top: 5px solid #FFCA00;
    font-family: "Poppins", sans-serif;
}
.footer-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-main-left-box,
.footer-main-right-box{
    width: 50%;
}

.footer-main-left-box{
    color: #fff;
    padding: 0 20px;
}

.footer-main-header{
    color: #FFCA00;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 30px;
}

.footer-main-contact-infos{
    margin-top: 20px;
}

.footer-main-info-header{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}

.footer-main-info-description{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: "Poppins", sans-serif;
}

.footer-main-right-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main-right-box img {
    width: 100%;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #fff;
    border-top: 1px solid #6f6ff5;
    height: 40px;
}

.footer-bottom-title{
    width: 100%;
}

.footer-bottom span{
    color: #FFCA00;
    margin: 0 5px;
}

.footer-icons{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-icons a{
    text-decoration: none;
}
.footer-icon{
    color: #FFCA00;
    font-size: 22px;
}
.footer-icon:first-child{
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    .footer-main{
        flex-direction: column;
    }
    .footer-main-left-box,
    .footer-main-right-box{
        width: 100%;
    }
    .footer-main-right-box img{
       width: 90%;
       margin-top: 20px;
    }
    .footer-bottom{
        padding: 0 10px;
    }
    .footer-bottom-title{
        width: 65%;
    }
}