@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@keyframes blink8{
    0%{
        background-image: url(../../images/contactHeroBg1.png);
        background-blend-mode: multiply;  
        background-color: #00000077;
    }
    50%{
        background-image: url(../../images/contactHeroBg2.jpg);
        background-blend-mode: multiply;  
        background-color: #00000077;
    }
    100%{
        background-image: url(../../images/contactHeroBg1.png);
        background-blend-mode: multiply;  
        background-color: #00000077;
    }
}

.contact-hero{
    width: 100%;
    height: 89.5vh;
    animation: blink8 15s infinite;
    -webkit-animation: blink8 15s infinite; 
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 30px;
    border-bottom: 5px solid #ffca00;
}

.contact-hero-container{
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-hero-left-box,
.contact-hero-right-box{
    width: 50%;
}

.contact-hero-right-box img{
    width: 100%;
}

.link-to-about{
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #121227;
    background: #ffca00;
    border: #FFCA00 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .3s;
}
.link-to-about:hover{
    color: #fff;
    background: #dFaa00;
    border: #dFaa00 1px solid;
}

.contact-hero-header{
    font-size: 40px;
    line-height: 50px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    margin-top: 0;
    letter-spacing: 1.5px;
    width: 500px;
}


@media screen and (max-width: 768px) {
    .contact-hero-container{
        flex-direction: column;
        padding: 30px;
    }
    .contact-hero-header{
        font-size: 30px;
        width: 320px;
    }
    .contact-hero-left-box,
    .contact-hero-right-box{
        width: 100%;
    }
    .contact-hero-left-box{
        margin-bottom: 40px;
    }
}